body{
    background: #03624c;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 20px;
}

h2{
    background: #212121;
    color: #f1f7f6;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

#banner{
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
}

.menu{
    background: #212121;
    padding: 15px;
    list-style: none;
    text-align: left;
}

.menu li{
    display: inline;
    margin-left: 25px;
}

.menu a{
    color: #00df81;
    text-decoration: none;
    text-transform: uppercase;
    font: bold 20px sans-serif;

    transition: 0.5s;
}

.menu a:hover{
    color: #f1f7f6;
    border-bottom: 2px solid #fff;
}

fieldset{
    border: 3px solid #212121;
    border-radius: 15px;
    background-color: #fff;
    padding: 25px;
    box-shadow: #212121 1px 1px 1px 1px;
}

legend{
    font-weight: bold;
    padding: 0 10px;
    color:#212121;
}

#nome, #email, #whatsapp, #caixa-texto{
    width: 95%;
    padding: 12px;
    font-size:  18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botao{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;
    padding: 10px 20px;
    background: #03624c;
    color: #f1f7f6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

    transition: 0.5s;
}

.botao:hover{
    background: #00df81;
    color: #000;
}

#rodape{
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #fff;
}

.tabela-horario{
    margin: 40px auto;
    border-collapse: collapse;
    width: 70px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    box-shadow: 0 4px 12px rgba(0 ,0, 0, 0.2);
    background-color: #fff;
}

.tabela-horario th{
    background-color: #03624c;
    color: #f1f7f6;
    padding: 14px;
    text-align: center;
}

.tabela-horario td{
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.tabela-horario tr:nth-child(even){
    background-color: #aacbc4;
}

.comprovante{
    border: 2px solid #212121;
    padding: 20px;
    margin-top: 20px;
    background: #f1f7f6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0 ,0, 0, 0.1);
}

.titulo-comprovante{
    color: #06302b;
    margin-top: 0;
}

li {
    margin: 15px;
}

.container-slide{
    width: 80vw;
    white-space: nowrap;
    overflow: hidden;

    margin: 30px auto;
}

.pag-slide{
    display: inline-block;
    animation: anima 10s linear infinite;
}

.pag-slide img{
    width: 400px;
    height: 400px;
    margin: 5px;

    border: #00df81 5px solid;
    border-radius: 10px;
    box-shadow: #aacbc4 3px 3px 3px 3px;

    transition: 1s;
}

.pag-slide img:hover{
    transform: scale(1.1);
}

@keyframes anima {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.team-carrossel {
    position: relative;
    width: 550px;
    margin: 15px auto;
}

.carrossel-container {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.member {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.5s ease;
    opacity: 0;
}

.member img {
    width: 300px;
    height: 350px;
    border-radius: 15px;
    object-fit: cover;
}

.member.active {
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 3;
    opacity: 1;
}

.member.left {
    left: 25%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.6;
    z-index: 2;
    filter: grayscale(70%);
}

.member.right {
    left: 75%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.6;
    z-index: 2;
    filter: grayscale(70%);
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    color: #fff;
    transition: background 0.3s ease;
}

.btn:hover {
    background: rgba(0, 0, 0, 0.9);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}